<% 3.times.each do |i| %>
	<div class="row">
	  <div class="center-block">
	    <a href="#" class="thumbnail">
	      <img data-src="holder.js/300x150" class="img-circle img-responsive">
	    </a>
	  </div>
	  
	</div>


<% end %>