<div class="row">
	<div class="col-md-3">
		<%= image_tag @merchant.photos.first.photo.url(:thumb) %>
	</div>
</div>

<span id="merchant_show"></span>
<%= "#{@merchant.first_name} #{@merchant.last_name}" %>