<%= @item.name %>


<div class="container">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	  	<% @item_photos.count.times do |i| %>
	  		<% if i == 0 %>
			    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			   <% else %>
			    <li data-target="#carousel-example-generic" data-slide-to="<%= i %>"></li>
			  <% end %>
	    <% end %>
	  </ol>

	  
	  <!-- Wrapper for slides -->
	  <div class="carousel-inner">
	  	<% @item_photos.each_with_index do |photo, index| %>
		  	<div class="item <% if index == 0 %>active<% end %>">
		      <%= image_tag photo.photo.url %>
		      <div class="carousel-caption">
		        1st picture
		      </div>
		    </div>
	  		
	  	<% end %>
	    
	    
	    
	  </div>
	  <div class="carousel-inner">
	    
	    ...
	  </div>

	  <!-- Controls -->
	  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left"></span>
	  </a>
	  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right"></span>
	  </a>
	</div>
</div>
