

<%= form_for [@context, @photo], :html => {id:"my-awesome-dropzone",class:"dropzone",:multipart => true} do |f| %>
  
  
  <p>
    <%= f.file_field :photo %>
  </p>
  
  <p><%= f.submit %></p>
<% end %>
