// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.panel-body.photo{
	background-image: url('lama.png');
	height: 300px;
}

.dz-message{
	top: 0;
	height:240px;
}